* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8f9;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ffffff;
    margin-bottom: 40px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 36px;
}

.logo {
    vertical-align: middle;
    padding: 10px 0px 10px 18px; 
}

.section-1 {
    background-color: #ffffff;
    height: 50px;
    width: 800px;
    margin: auto;
    margin-bottom: 3px;
    border-radius: 10px 10px 0px 0px;
    padding: 14px 50px 9px 50px;
}

.btn {
    background: transparent;
    border: 1px solid;
    padding: 5.5px 11px;
    border-radius: 6px;
    color: #C4cbd0;
    border-color: #C4cbd0;
    font-size: 12px;
}

.btn-task {
    background-color: #14AAF5;
    color: white;
    border-color: #14AAF5;
}

.circlecheck {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #2cc6ab;
    border-radius: 100%;
    margin: 8px 8px 8px 0px;
    color: #2cc6ab;
}

.circlecross {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid red;
    border-radius: 100%;
    margin: 8px 8px 8px 0px;
    color: red;
}

.section-2 {
    background-color: #ffffff;
    height: 510px;
    width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 35px 50px;
}

.list-title {
    font-size: 20px;
    color: #434851;
}

.list {
    font-size: 18px;
    list-style: none;
    line-height: 2.0;
    padding: 0px 0px 20px 0px;
    color: #434851;
}
